@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

html{
    scroll-behavior: smooth;
}
table, td, th {
    border:1px solid black;
}

body {
    font-family: 'Signika Negative', sans-serif;
    background-color:#333333;
}
h1 {
    font-family: 'Russo One', sans-serif;
    font-size:70px;
    text-align: center;
    color:#adadad;
    text-decoration: underline;
    text-decoration-color:#8b8b8b;
}
.locationp {
    font-family: 'Russo One', sans-serif;
    font-size:30px;
    text-align: center;
}
.locationinfo {
    background-color:#adadad;
    width:400px;
    height:1200px;
    border-radius:20px;
}
.loc_container{
    display:flex;
    align-items: center;
    justify-content: center;
    padding:20px;
    gap:100px;
    
}
.slogan {
font-size:20px;
text-align: center;
font-style: italic;
position:relative;
}
.Sales {
    float:right;
}
.navbar {
    background-color: #adadad;
    width:100%;
    height:60px;
    position:sticky;
}
.logo {
    margin:7px;
    display: inline-block;
    vertical-align: top;
   
}
.navbar a {
    display:inline-block;
    vertical-align:top;
    margin-right:30px;
    line-height: 60px;
    text-decoration: none;
    text-align:center;
    color:black;
}
.cookies{
    color:beige;
}
.aboutdiv {
    margin-right: 10px;
    display:flex;
    justify-content: center;

}
.locationtext {
    font-size: 20px;
    margin:20px;
    padding:7px;
}

h2 {
    font-family: 'Russo One', sans-serif;
    text-align: center;
    font-size:70px;
}



.aboutus {
    font-size:50px;
    width:45%;
}
.navbar a:hover {
    background-color:#8b8b8b;
}
.navbar a:active {
    background-color:#8b8b8b;
}
.container {
    background-color:#333333;
    width:99%;
    height:500px;
    border-radius:20px;
    border-color:#8b8b8b;
    border-style:solid;
    border-width: 10px;
    box-shadow: 0 0 13px rgb(0 0 0);
    display: flex;
    align-items: center;
    justify-content: center;

}
.contactSec {
    background-color:#333333;
    
}
.icon {
    width:80px;
    height:80px;
    display:block;
}
.mailcontainer {
    background-color: #8b8b8b;
    box-shadow: 0 0 13px rgb(0 0 0);
    border-radius: 10%;
    cursor:pointer;
    
}
.email {
    font-size: 50px;
    padding:20px;
    text-decoration: underline;
}
#cookietb {
    margin-left:auto;
    margin-right:auto;
}
.cookiecontainer {
    background-color:#adadad;
    padding:20px;
    margin-top:50px;
    border-radius: 10px;
    box-shadow:0 0 13px rgb(0 0 0);
    background-size:cover;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;

}
.imgcontainer {
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding:20px;

}
.imgcontainer img {
    padding:20px;
    margin-bottom: 20px;
}
.maincontainer {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}
.textcontainer {
    text-align: center;
}

.imgp {
    font-size:40px
}
.form {
    background-color: #adadad;
    display:flex;
    align-items: center;
    justify-content: center;
    margin:50px;
    height:50px;
    box-shadow:0 0 13px rgb(0 0 0);
    
}
.formInput {
    display: flex;
    align-items: center;
    justify-content: center;
}